@font-face {
    font-family: "LCD";
    src: url(src/LCD14.otf);
}


*{
    margin: 0;
    padding: 0;
    /* font-family: "LCD"; */
    user-select: none;
}


body{
    width: 100vh;
    height: 100vh;
    background-image: url(src/bbg.png);
    background-repeat: no-repeat;
    background-position-x :center;
    background-size:cover ;
    overflow: hidden;
}
.base{
    position:absolute;
    top:0px;
    left:0px;
    background-image: url(src/newcalc_2.png) ;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-size:contain ;
    scale: 1.26;
}
.numbtns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    left: 185px;
    top: 279px;
    row-gap: 2px;
    column-gap: 5px;
    width: fit-content;
    height: fit-content;
    transform: rotate(1deg);
}
.butns{
    padding: 5px 8px;
    border-radius: 50%;
    background-color: transparent;
    color: transparent;
}
.butns:focus{
    outline: none;
}
.ops{
    width: 85px;
    position: absolute;
    left: 72px;
    top: 254px;
    height: 82px;
    border-radius: 50%;
    /* background-color: rgba(36, 241, 197, 0.408); */
}
.oprtr{
    padding: 0px 6px;
    position: absolute;
    background-color: transparent;
    color: transparent;
}
.oprtr:focus{
    outline: none;
}
#mn{
    top: 12px;
    left: 33px;
    padding: 2px 6px;
}
#pd{
    top: 33px;
    left: 11px;
}
#pl{
    top: 33px;
    left: 52px;
}
#dv{
    top: 52px;
    left: 31px;
    padding: 1px 8px;
}
.bigbtn{
    width: 61px;
    height: 77px;
    border-radius: 50%;
    background-color: transparent;
    color: transparent;
}
.bigbtn:focus{
    outline: none;
}
#ce{
    position: absolute;
    top: 344px;
    left: 64px;
}
#eqto{
    position: absolute;
    top: 346px;
    left: 364px;
}
#screen{
    background-color: transparent;
    width: 127px;
    height: 37px;
    padding: 0 5px;
    position: absolute;
    top: 225px;
    left: 184px;
    border-radius: 5px;
    transform: rotate(1deg);
    font-size: 1.9em;
    text-align: right;
    overflow: scroll;
    white-space: nowrap;
    box-sizing: border-box;
    -ms-overflow-style: none;
}
#screen::-webkit-scrollbar {
    display: none;              /* Chrome, Safari */
}
#backsp{
    background-color: transparent;
    color: transparent;
    width: 88px;
    height: 84px;
    position: absolute;
    top: 257px;
    left: 336px;
    border-radius: 50%;
}
#backsp:focus{
    outline: none;
}
#giff{
    position: absolute;
    z-index: 2;
    top: 218px;
    left: 171px;
    width: 156px;
    height: 156px;
    background-image: url(src/hd-smirk.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 11px;
    overflow: hidden;
    box-shadow: 3px 1px 7px 9px rgba(0, 0, 0, 0.28), 9px -6px 6px rgba(255, 255, 255, 0.15);
}

#giff::before{
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 2px -1px 23px 15px rgba(0,0,0,0.8);
    pointer-events: none;
}
